<manifest package="com.innerfunction.semo"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        >

        <provider
            android:authorities="com.innerfunction.semo.testcontents"
            android:name="com.innerfunction.semo.provider.TestContentsProvider">
        </provider>

    </application>

</manifest>
